nav
{
position: fixed;
height: 15vh;
width: 100%;
padding: 0 1vw 0 1vw;
border-bottom: solid white 1px;
background-color: rgba(157, 138, 121, 0.8);
transition: 0.3s;
z-index: 99;
}
	nav a
	{
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	float: right;
	text-decoration: none;
	color: #FFFFFF;
	vertical-align: middle;
	padding: 0 0.6vw 0 0.6vw;
	font-size: 2vw;
	}
	nav a:hover
	{
	border-bottom: solid white 2px;
	}
	nav img
	{
	position: relative;
	top: 50%;
	height: 50%;
	transform: translate(0, -50%);
	}